/*
** Paleta de colores utilizada.
** https://coolors.co/ffffff-000000-fd6500-fe8900-fe9b00
*/

body {
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11pt;
}

h2 {
    font-size: 22pt;
}

h3 {
    color: #000000;
    font-size: 18pt;
}

h4 {
    font-size: 14pt;
}

h3, h4, p {
    margin: 4px;
}

p {
    font-size: 10pt;
    padding-left: 2px;
    text-align: left;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

hr {
    background-color: black;
    border-width: 0;
    height: 3px;
}

/* id's and classes */
#left {
    float: left;
    width: 25%;
}

#right {
    float: right;
    width: 70%;
}

aside, section {
    padding: 2px;
}

/* Main information */
.main-content {
    background-color: #ffffff;
    padding: 4px;
}

.subsection-box, .subsection-box>div {
    margin-top: 20px;
}

.subsection-box>div {
    clear: both;
}

.subsection-box>h3 {
    color: #fd6500;
    height: 48px;
    padding-top: 2px;
    margin: 0;
    display: table-cell;
    vertical-align: middle;
}

.subsection-icon {
    height: 48px;
    width: 48px;
    margin: 2px 4px;
    float: left;
}

.job-company, .job-title, .school-name, .school-title {
    display: table-cell;
    vertical-align: middle;
    height: 40px;
    padding-left: 6px;
}

.job-company, .school-name {
    font-weight: bold;
    width: 260px;
}

.job-title, .school-title {
    font-size: 13pt;
    text-transform: uppercase;
}

.job-text, .school-text {
    font-size: 10pt;
    text-align: justify;
}

.courses-certifications-box ul {
    padding: 6px;
}

.courses-certifications-box li {
    font-size: 12pt;
    margin: 6px;
    padding: 6px;
    width: 45%;
    position: relative;
    display: inline-block;
}

/* Sidebar sections */
.sidebar-content {
    background-color: #fd6500;
    color: #ffffff;
    padding: 4px;
}

.main-photo {
    background-color: #000000;
    width: 164px;
    height: 164px;
    margin: 18px auto;
    border-radius: 50%;
}

.contact-box, .skills-box, .social-box {
    padding-left: 12px;
    padding-top: 4px;
    padding-bottom: 1em;
}

.contact-item, .social-item {
    margin: 1em 0;
}

.contact-item>img, .social-item>img {
    float: left;
    margin-left: 6px;
    height: 24px;
    width: 24px;
}

.contact-item>h4, .social-item>h4 {
    display: table-cell;
    padding-left: 4px;
    height: 24px;
    vertical-align: bottom;
}

.contact-item>p, .social-item>p {
    overflow-wrap: break-word;
    clear: both;
}

.skill-item {
    margin-top: 10px;
    background-color: transparent;
    text-transform: uppercase;
}

.skill-bar, .skill-bar::before, .skill-bar::after {
    position: absolute;
    height: 10px;
}

.beginner-bar, .normal-bar, .advanced-bar, .expert-bar {
    margin-left: 8px;
}

.beginner-bar::before, .normal-bar::before, .advanced-bar::before, .expert-bar::before {
    content: "";
    background-color: #ffffff;
}

.beginner-bar::after, .normal-bar::after, .advanced-bar::after, .expert-bar::after {
    content: "";
    background-color: #000000;
}

.beginner-bar::before {
    width: 50px;
}

.beginner-bar::after {
    width: 150px;
    left: 50px;
}

.normal-bar::before {
    width: 100px;
}

.normal-bar::after {
    width: 100px;
    left: 100px;
}

.advanced-bar::before {
    width: 150px;
}

.advanced-bar::after {
    width: 50px;
    left: 150px;
}

.expert-bar::before {
    width: 200px;
}

.expert-bar::after {
    width: 0;
}
